body{
    background: #DADBBD;
    height: 100px;
    width: auto;
}

.tabla_produc{
    text-align: center;
    width: 100%;
    line-height:60px;
    margin: 0 auto;
    padding: 0;
}
.links{
    color: #5d1335;
}
.tabla_produc tbody tr:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #151D3B;
}
.img{
    border-radius: 30px;
    box-shadow: 2px 2px 5px;
}