* {
    min-width: 0;
}

body{
    margin: 0 auto;
    background: #DADBBD;
}

/*GRID CONTAINER*/
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}

.container header, .main, .footer{
    grid-column-start: 1;
    grid-column-end: 4 ;
}

.container .main{
    margin-top: 50px;
}

.container .widget{
    margin-bottom: 10px;
}

/*HEADER*/
header{
    background-color: #19282F;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid #B33030;
}

/*NAVBAR*/
.main-nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.main-nav__menu-ul{
    list-style: none;
    display: flex;
    margin-right: 40px;
    margin-left: -30px;
}

.main-nav__menu-ul-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    margin-right: 40px;

}

.main-nav__menu-ul-item-links{
    color: #DADBBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.main-nav__menu-ul-item-links:hover{
    background-color: #B33030;
    transition: 0.5s;
}

.main-nav__logo-container {
    display: flex;
    width: 20%;
    height: 80px;
    padding: 8px 12px;
    margin-left: 40px;
}

.main-nav__logo-container img{
    width: 100px;
} 

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    border-radius: 100%;
    color: #DADBBD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
}

#icon-menu:hover{
    background-color: #b33030c2;
}

/*MAIN*/
.main{
    width: 100%;
    margin-top: 50px;
}

.main__h1{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: #B33030;
    text-shadow: 3px 3px 1px black;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.main__h1--part{
    color: #19282F; 
    text-shadow: 3px 3px 1px #B33030;
}

.main__resume{
    background-color: #19282F;
}

.main__resume-img{
    width: 100%;
}

.main__resume-p{
    padding: 50px;
    width: 600px;
    text-align: justify;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
    color: #DADBBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.main__h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: #B33030;
    text-shadow: 3px 3px 1px black;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*WIDGET*/
.widget__h2{
    width: 100%;
    background-color: #DADBBD;
    color: #151D3B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 35px;
}

.widget__img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget__img-figure{
    height: 240px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 15px 20px;
    cursor: pointer;
}

.widget__img-figure:hover > .widget__img-figure-container{
    opacity: 1;
    visibility: visible;
}

.widget__img-figure-img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.widget__img-figure-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #b33030c0;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
}

.widget__img-figure-container-text{
    width: 100%;
    height: 100%;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    line-height: 40px;
    color: #DADBBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.widget__img-figure-container-text--palta{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 25px;
    padding: 50px;
    line-height: 60px;
    color: #DADBBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.widget__description{
    width: 100%;
    background-color: #DADBBD;
    color: #151D3B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
}

/*FOOTER*/
.footer{
    background-color: #19282F; 
    width: 100%;
    text-align: center; 
    padding: 0;
}
.footer__menu{
    list-style: none;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #DADBBD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer__logo{
    width: 150px;
}

.footer__menu-item--active{
    font-size: 30px;
}



/*Responsive style for mobile devices*/
@media screen and (max-width: 952px) {
    
    #icon-menu{
        visibility: visible;
    }

    body{
        overflow-x: hidden;
    }

    .move-contenido{
        transform: translateX(200px);
    }
    
    .main, .footer,.widget{
        transition: 300ms;
    }

    .container .main{
        grid-column: 1/-1;
    }

    .container .main__resume-p{
        width: 100%;
        margin: auto;
        text-align: justify;
        font-size: 20px;
    }

    .container .widget{
        grid-column: span 2;
    }
    .container .footer{
        grid-column: 1/-1;
    }

    .main{
        padding-top: 60px;
    }
    
    .main__resume-img{
        height: 230px;
    }


    .main__h1{
        font-size: 60px;
    }

    .main__h2{
        width: 100%;
        font-size: 50px;
        text-align: center;
    }

    .main-nav__menu{
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 80px;
        overflow: hidden;
        z-index: 1;
        transform: translateX(-200px);
        transition: all 300ms;
    }

    .main-nav__menu{
        background-color: #B33030;
    }

    .show-menu{
        width: 200px;
        transform: translateX(0px);;
    }

    .main-nav__menu-ul{
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        margin-top: 20px;
        max-width: 200px;
        height: 300px;
    }

    .main-nav__menu-ul-item{
        line-height: 50px;
    }

    .main-nav__logo-container{
        width: 120px;
    }

    .widget__h2{
        font-size: 30px;
    }

    .widget__description{
        font-size: 25px;
    }

    .widget__img-figure-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .widget__img-figure-container-text{
        font-size: 20px;
    }

    #uva{
        width: 100%;
        height: 100%;
    }
    
    .footer__menu{
        font-size: 15px;
    }
    .footer__logo{
        width: 100px;
    }

    header{
        position: fixed;
        z-index: 1;
    }
}

@media screen and (max-width: 450px) {
    .widget__img-figure{
        width: 100%;
        border-radius: 0;
    }
    .widget__img-figure-container-text--palta{
        font-size: 20px;
    }
}