body{
    margin: 0 auto;
    padding: 0;
}

header{
    margin-top: 0 auto;
    padding: 0;
    background-color: #151D3B;
}
.tabla{
    width: 100%;
    padding: 0;
    margin-top: 0;
    height: 50px;
}
.links{
    color: #6EBF8B;
}
#texto_nav{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: #6EBF8B;
    text-shadow: 3px 3px 1px black;
    background-color: white;
}